[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiTrinA"]
	path = BiTrinA
	url = https://github.com/cran/BiTrinA
[submodule "Binarize"]
	path = Binarize
	url = https://github.com/cran/Binarize
[submodule "BoolNet"]
	path = BoolNet
	url = https://github.com/cran/BoolNet
[submodule "GiANT"]
	path = GiANT
	url = https://github.com/cran/GiANT
[submodule "MOCCA"]
	path = MOCCA
	url = https://github.com/cran/MOCCA
[submodule "ORION"]
	path = ORION
	url = https://github.com/cran/ORION
[submodule "TunePareto"]
	path = TunePareto
	url = https://github.com/cran/TunePareto
